<p>homecomponent works!</p>

<P>
    A só megemeli a vérnyomásunkat. A megemelkedett vérnyomás (hipertónia ) a stroke, a szívelégtelenség és a szívroham egyik fő tényezője, amelyek a vezető halálokok és rokkantságok az Egyesült Királyságban. Egyre több bizonyíték áll rendelkezésre a magas sóbevitel és a gyomorrák, a csontritkulás, az elhízás, a vesekő, a vesebetegség, valamint a vaszkuláris demencia és a vízvisszatartás közötti kapcsolatra is. A só a Ménière-kór és a cukorbetegség tüneteit is súlyosbíthatja .  
</P>

<p>
    A jó hír az, hogy a sóbevitel csökkentése csökkentheti a vérnyomást és a betegségek kockázatát. Valójában egészen napi 3 grammig, minél alacsonyabb a sóbevitel, annál alacsonyabb a vérnyomás.

Különböző emberek csoportjainak különböző okai lehetnek a sófogyasztásuk figyelésére. Ide kattintva megtudhatja, hogyan hat a férfiakra, nőkre és gyermekekre az étrendjükben lévő só.
</p>

<article>
    <div class="card">
        <div class="card-header">
            Vérnyomás
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>A vérnyomás az a nyomás, amelyet a vér az érfalakra gyakorol, miközben a testben körbepumpálják. Bizonyos tényezők, mint például a túlsúly, a testmozgás hiánya és különösen a magas sótartalmú étrend megemelhetik a vérnyomást, ami szívrohamhoz és szélütéshez vezethet. A felnőttek harmadának magas a vérnyomása, 140/90 Hgmm, és sokan nem is tudják, hogy van, mivel nincsenek tünetei; háziorvosa meg tudja majd mérni a vérnyomását. A betegségek kockázata a vérnyomás normál tartományán belül kezdődik, jóval 140/90 Hgmm alatt, így a legtöbb ember számára előnyös lesz a vérnyomás csökkentése. Tévhit, hogy a magas vérnyomás kialakulása elkerülhetetlen az életkor előrehaladtával, a sóbevitel csökkentésével, az étkezésre való odafigyeléssel és a mozgással kordában tartható.</p>
            <!-- <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> -->
          </blockquote>
        </div>
      </div>
    <strong>Vérnyomás</strong>
    A vérnyomás az a nyomás, amelyet a vér az érfalakra gyakorol, miközben a testben körbepumpálják. Bizonyos tényezők, mint például a túlsúly, a testmozgás hiánya és különösen a magas sótartalmú étrend megemelhetik a vérnyomást, ami szívrohamhoz és szélütéshez vezethet. A felnőttek harmadának magas a vérnyomása, 140/90 Hgmm, és sokan nem is tudják, hogy van, mivel nincsenek tünetei; háziorvosa meg tudja majd mérni a vérnyomását. A betegségek kockázata a vérnyomás normál tartományán belül kezdődik, jóval 140/90 Hgmm alatt, így a legtöbb ember számára előnyös lesz a vérnyomás csökkentése. Tévhit, hogy a magas vérnyomás kialakulása elkerülhetetlen az életkor előrehaladtával, a sóbevitel csökkentésével, az étkezésre való odafigyeléssel és a mozgással kordában tartható.

    <strong>Stroke</strong>
    A stroke általában akkor következik be, amikor az agy egy részének a vérellátása megszakad, ami csökkenti az agy oxigénellátását, ami a sejtek elhalását okozza. A stroke két fő típusa van; ischaemiás stroke, amikor egy véredény elzáródik, és vérzéses stroke, amikor egy véredény felszakad és bevérzik az agyba. A szélütés a harmadik legnagyobb gyilkosság az Egyesült Királyságban, és a súlyos felnőttkori rokkantság vezető oka. A magas vérnyomás a szélütés legfontosabb kockázati tényezője, a só pedig a fő vérnyomásemelő tényező, ezért a só felelős sok ilyen stroke-ért. A szélütés nem elkerülhetetlen velejárója az öregedésnek, és sokakat meg lehet előzni a vérnyomás kordában tartásával, sócsökkentéssel, testmozgással és egészséges táplálkozással.


    Szívkoszorúér-betegség
    Szívkoszorúér-betegség (CHD) az a kifejezés, amely leírja, mi történik, ha a szív vérellátása csökken vagy blokkolódik, ami szívelégtelenséghez és szívrohamhoz vezet. A CHD az Egyesült Királyság legnagyobb gyilkosa, minden negyedik férfi és minden hatodik nő hal bele a betegségbe. Évente körülbelül 300 000 embernek van szívinfarktusa.

    Az emelkedett vérnyomás a CHD fő kockázati tényezője. Ennek következtében az erek fala megvastagodik, így az erek túl szűkülnek, és nem tudnak elegendő vért szállítani a szívbe. Ez idővel a szívizom megvastagodásához vezethet, ami csökkenti a szív azon képességét, hogy vért pumpáljon a szervezetben, ami szívelégtelenséghez vezethet – amikor nem szállítanak elegendő vért a testben. A megvastagodott érfalak vérrögök kialakulásához is vezethetnek; ezek a vérrögök blokkolhatják a szív vérellátását és szívrohamot okozhatnak.

    Mivel a megemelkedett vérnyomás a CHD fő kockázati tényezője, a só pedig emeli a vérnyomást, a sóbevitel csökkentése, a fogyás és egyéb életmódbeli változtatások drámaian csökkenthetik a kockázatot.


    Gyomorrák
    A magas sótartalmú étrend növeli a gyomorrák kockázatát. Az évente 7000 új eset negyede a sónak tudható be. A Helicobacter pylori (H. pylori) baktérium a gyomorrák fő kockázati tényezője, mivel gyomorgyulladáshoz vezethet, ami gyomorfekélyhez és gyomorrákhoz vezethet. A gyomorban lévő H. Pylori nem feltétlenül okoz károsodást, azonban a só károsíthatja a gyomor nyálkahártyáját, sérülékenyebbé teszi a H. pylori hatásaival szemben, a só pedig fokozhatja a baktérium növekedését és hatását, ami nagyobb valószínűséggel jár. kárt okozni. A férfiak nagyobb kockázatnak vannak kitéve, mint a nők, és vannak más fontos kockázati tényezők is a gyomorrák kialakulásában, amelyeket a tájékoztató ismertet.


    Csontritkulás
    Az oszteoporózis olyan állapot, amely a csontok elvékonyodását okozza, törékennyé és törékennyé teszi azokat. Az Egyesült Királyságban becslések szerint 3 millió ember szenved csontritkulásban; 2 nőből 1 és 5 férfiból 1 tör el csontot 50 éves kor után, főként a rossz csontok egészsége miatt.

    A legtöbb kalcium a szervezetben a csontokban raktározódik. A magas sótartalmú étrend a kalcium elvesztését okozhatja a csontokból, és a vizelettel ürülhet ki, ami miatt a csontok gyengék és könnyen eltörhetnek. A magas sótartalmú étrend által okozott magas vérnyomás felgyorsíthatja a kalcium elvesztését a csontokból, rontva a problémát. A csontritkulás kockázata leginkább az idősebb embereket fenyegeti, mivel a csontok természetesen elvékonyodnak, ahogy öregszünk. A posztmenopauzás nőket különösen veszélyezteti a csontritkulás az ösztrogén hormon csökkenése miatt, amely általában védi a csontok egészségét. Mindazonáltal férfiaknak, nőknek és gyermekeknek minden életkorban gondoskodniuk kell a csontok egészségéről, hogy elkerüljék a későbbi csontritkulást.


    Elhízottság
    A brit felnőttek negyede elhízott, kétharmada pedig elhízott vagy túlsúlyos. Az elhízás számos egészségügyi állapothoz kapcsolódik, mint például a magas vérnyomás, a cukorbetegség, a CHD és az alvási apnoe. A só önmagában nem okoz súlygyarapodást, de megszomjaz, így több folyadékot kell inni, ha a folyadék cukros ital, akkor súlygyarapodást okozhat, mert sok energiát tartalmaz. Ez komoly probléma a gyermekek és a tinédzserek számára, mivel az általuk elfogyasztott folyadékok egyharmada cukros üdítőital.

    Vesekövek és vesebetegségek.
    A vesekő gyakori probléma, amelyet a kalcium felhalmozódása okoz a vesékben. Mind a magas sóbevitel, mind a magas vérnyomás miatt túl sok kalcium ürülhet ki a veséken keresztül a vizeletbe, ami kalcium és ezáltal vesekövek kialakulásához vezethet. Nagyon fájdalmasak lehetnek, és bizonyos esetekben vesebetegséghez vezethetnek.
    A vesék szabályozzák a folyadékegyensúlyt és a vérnyomást azáltal, hogy szabályozzák a vérből a vizeletbe távozó folyadék mennyiségét. A magas sótartalmú étrend megzavarhatja a vesék működését és magas vérnyomást okozhat, ami viszont megterheli a vesét, ami vesebetegséghez vezet. A magas sótartalmú étrend a meglévő vesebetegség gyorsabb előrehaladását is okozhatja. A vesebetegségben szenvedőknek, illetve a tartós húgyúti fertőzések vagy Chrohn-kór miatt veszélyeztetett embereknek csökkenteniük kell a sóbevitelt, hogy elkerüljék az állapot súlyosbodását.

    Vaszkuláris demencia
    A demencia az agyi funkciók elvesztése, amely befolyásolja a memóriát, a gondolkodást, a nyelvet, az ítélőképességet és a viselkedést. A vaszkuláris demencia a demencia gyakori formája. Ezt az agyi véredény elzáródása okozza, amely stroke vagy mini stroke-sorozat után következik be; körülbelül minden harmadik stroke-on átesett embernél vaszkuláris demencia alakul ki. A magas sóbevitel növeli a vérnyomást, növeli a stroke és ezáltal a demencia kockázatát. A jó vérnyomás-szabályozás rendkívül fontos a stroke megelőzésében, ezért a sóbevitel alacsony szinten tartása fiatalabb életkorban, valamint az egészséges életmód vezetése a megelőző étrend részeként javasolható.

    Vízvisszatartás
    A magas sóbevitel hatására visszatartjuk a vizet, ebből akár 1,5 liter(!) is. Azoknál a nőknél, akik puffadástól szenvednek, előnyös lehet a sócsökkentés, és ami még komolyabb, a szívelégtelenségben, nefrotikus szindrómában és májcirrózisban szenvedő betegek különösen előnyösek a sóbevitel csökkentésében.

    Ménière-kór
    A Ménière egy ritka betegség, amely károsítja a fület és szédülést okoz hányingerrel és hányással, fülzúgással és halláskárosodással. A magas sótartalmú étrend ronthatja a Ménière-kór tüneteit, mert folyadékretenciót okoz, ez pedig növelheti a belső fül nyomását, ami a Ménière-kór tüneteit okozza és rontja. Úgy gondolják, hogy a sószegény étrend rendkívül hatékony a Ménière-kór kezelésében.

    Cukorbetegség
    Jelenleg több mint 2,5 millió cukorbeteg ember él az Egyesült Királyságban. A só növelheti a cukorbetegség kialakulásának kockázatát a vérnyomás emelésével. A már cukorbetegek számára is előnyös, ha kevesebb sót esznek, mert a vérnyomás egészséges tartományban tartása segít csökkenteni a cukorbetegség hosszú távú szövődményeinek kockázatát.
</article>