<p>informations works!</p>

<body>

    <!-- <div class="img-fluid"></div> -->
    <div class="banner text-center">
      <!-- <img src='../../img/why-eat-less-salt-callout.jpg' class="rounded" alt="Why not eat salt?"> -->
      <!-- <img src='https://www.actiononsalt.org.uk/media/action-on-salt/less/health/why-eat-less-salt-callout.jpg' class="rounded" alt="Why not eat salt?"> -->
      <h1>Miért fogyasszunk kevesebb sót?</h1>
    
    </div>  
    <!-- <p>homecomponent works!</p> -->
        <div class="container">
          <div class="card">
            <div class="card-body">
              A só megemeli a vérnyomásunkat. A megemelkedett vérnyomás (hipertónia ) a
              stroke, a szívelégtelenség és a szívroham egyik fő tényezője, amelyek a
              vezető halál- vagy rokkantsághoz vezető ok az Egyesült Királyságban.<br><br>Egyre több
              bizonyíték áll rendelkezésre a magas sóbevitel és a
              <span class="deseases">gyomorrák</span>, a
              <span class="deseases">csontritkulás</span>, az
              <span class="deseases">elhízás</span>, a 
              <span class="deseases">vesekő</span>, a 
              <span class="deseases">vesebetegség</span>, valamint a 
              <span class="deseases">vaszkuláris demencia</span> és a 
              <span class="deseases">vízvisszatartás</span>
              közötti kapcsolatra is. A só a Ménière-kór és
              a cukorbetegség tüneteit is súlyosbíthatja.
              <br><br>Az ételek sózása tehát közvetlen hatással van a szervezet nátriumbevitelére, 
              mely így kihat a várható élettartamra és a korai halálozás kockázatára. 
              Éppen ezért rendkívül fontos, hogy minél kevesebb feldolgozott élelmiszert 
              és készételt fogyasszunk, és ne sózzuk megszokásból ételeinket.
              <br><br>A jó hír az, hogy a sóbevitel
              csökkentése csökkentheti a vérnyomást és a betegségek kockázatát. Valójában
              egészen napi 3 grammig, minél alacsonyabb a sóbevitel, annál alacsonyabb a
              vérnyomás. Különböző emberek csoportjainak különböző okai lehetnek a
              sófogyasztásuk figyelésére.<br><br>Az alábbiakban megtudhatja, hogyan hat a
              férfiakra, nőkre és gyermekekre az étrendjükben lévő só túlzott bevitele.
            </div>
          </div>
  
          <div class="intro">
            <P>
              
            </P>
          </div>
    
          <article>
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://cdn.nwmgroups.hu/s/img/i/2111/20211109magas-vernyomas-sziv.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Vérnyomás</h5>
                    <p class="card-text">A vérnyomás a keringési rendszerben a vérnek az erek falára kifejtett nyomása.
                      Bizonyos tényezők, mint például a túlsúly, a testmozgás hiánya és <strong> különösen a magas sótartalmú étrend
                      megemelhetik a vérnyomást</strong>, ami szívrohamhoz vagy szélütéshez vezethet. A magas vérnyomás-betegség Magyarországon a felnőtt lakosság közel 40 százalékát érinti, 
                      idősebb korunkra - 60 év felett akár 60 százalékig nő ez az arány.
                      <br><br>A felnőttek harmadának magas a vérnyomása melyről sokan nem is tudnak, mivel nincsenek tünetei.
                      Mivel a hipertóniának többnyire nincsenek előzetes tünetei, különösen fontos a gyakori ellenőrzés.<br><br>Tévhit, hogy a
                      magas vérnyomás kialakulása elkerülhetetlen az életkor
                      előrehaladtával, a sóbevitel csökkentésével, az étkezésre való
                      odafigyeléssel és a mozgással kordában tartható.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4" style="">
                  <img src="https://www.stroke.org/-/media/Stroke-Images/About-Stroke/Illustration-of-a-Stroke_04.png?h=600&iar=0&mw=600&w=600&hash=AF04436AC864C7D1D7BEDDFF072C7A2A" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Stroke</h5>
                    <p class="card-text">A stroke általában akkor következik be, amikor az agy egy részének a
                      vérellátása megszakad, ami csökkenti az agy oxigénellátását, ami a
                      sejtek elhalását okozza.<br><br> Becslések szerint jelenleg Magyarországon évente kb. 40-50 ezer
                      beteg kerül kórházba szélütés (stroke) miatt.<br><br>
                      <strong style="text-decoration: underline">A strokenak két fő típusa van:</strong><br>
                      ischaemiás stroke, amikor egy véredény elzáródik, és <br>
                      vérzéses stroke, amikor egy véredény felszakad és bevérzik az agyba.
                       A magas vérnyomás a szélütés
                      legfontosabb kockázati tényezője, a só pedig a fő vérnyomásemelő
                      tényező, ezért a só felelős sok ilyen stroke-ért. A szélütés nem
                      elkerülhetetlen velejárója az öregedésnek, és sokakat meg lehet
                      előzni a vérnyomás kordában tartásával, sócsökkentéssel,
                      testmozgással és egészséges táplálkozással.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
            <p></p>
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Blausen_0257_CoronaryArtery_Plaque.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Szívkoszorúér-betegség</h5>
                    <p>
                      Szívkoszorúér-betegség (CHD) az a kifejezés, amely leírja, mi
                      történik, ha a szív vérellátása csökken vagy blokkolódik, ami
                      szívelégtelenséghez és szívrohamhoz vezet. A CHD az Egyesült
                      Királyság legnagyobb gyilkosa, minden negyedik férfi és minden
                      hatodik nő hal bele a betegségbe. Évente körülbelül 300 000 embernek
                      van szívinfarktusa.<br><br><strong style="color:crimson">Az emelkedett vérnyomás a CHD fő kockázati
                      tényezője.</strong> Ennek következtében az erek fala megvastagodik, így az
                      erek túl szűkülnek, és nem tudnak elegendő vért szállítani a szívbe.
                      Ez idővel a szívizom megvastagodásához vezethet, ami csökkenti a
                      szív azon képességét, hogy vért pumpáljon a szervezetben, ami
                      szívelégtelenséghez vezethet – amikor nem szállítanak elegendő vért
                      a testben. A megvastagodott érfalak vérrögök kialakulásához is
                      vezethetnek, melyek blokkolhatják a szív vérellátását és
                      szívrohamot okozhatnak.<br><br>Mivel a megemelkedett vérnyomás a CHD fő
                      kockázati tényezője, a só pedig emeli a vérnyomást, a sóbevitel
                      csökkentése, a fogyás és egyéb életmódbeli változtatások drámaian
                      csökkenthetik a kockázatot.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <img src="https://healthy-food-near-me.com/wp-content/uploads/2021/08/stomach-cancer-632x425.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Gyomorrák</h5>
                    <p>
                      A magas sótartalmú étrend növeli a gyomorrák kockázatát. Az évente
                    7000 új eset negyede a sónak tudható be. A Helicobacter pylori (H.
                    pylori) baktérium a gyomorrák fő kockázati tényezője, mivel
                    gyomorgyulladáshoz, majd gyomorfekélyhez és gyomorrákhoz
                    vezethet. A gyomorban lévő H. Pylori nem feltétlenül okoz
                    károsodást, azonban a só károsíthatja a gyomor nyálkahártyáját,
                    sérülékenyebbé teszi a H. pylori hatásaival szemben, a só pedig
                    fokozhatja a baktérium növekedését és hatását, ami nagyobb
                    valószínűséggel fog kárt okozni.<br><br>A férfiak nagyobb kockázatnak
                    vannak kitéve, mint a nők, és vannak más fontos kockázati tényezők
                    is a gyomorrák kialakulásában.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://healthjade.com/wp-content/uploads/2017/06/osteoporosis.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Csontritkulás</h5>
                    <p>
                        Az oszteoporózis olyan állapot, amely a csontok elvékonyodását
                        okozza, törékennyé és törékennyé teszi azokat. Az Egyesült
                        Királyságban becslések szerint 3 millió ember szenved
                        csontritkulásban; 2 nőből 1 és 5 férfiból 1 tör el csontot 50 éves
                        kor után, főként a rossz csontok egészsége miatt.<br><br>A legtöbb kalcium
                        a szervezetben a csontokban raktározódik. A magas sótartalmú étrend
                        a kalcium elvesztését okozhatja a csontokból, és a vizelettel
                        ürülhet ki, ami miatt a csontok gyengék és könnyen eltörhetnek. A
                        magas sótartalmú étrend által okozott magas vérnyomás
                        felgyorsíthatja a kalcium elvesztését a csontokból, rontva a
                        problémát.<br><br>A csontritkulás kockázata leginkább az idősebb embereket
                        fenyegeti, mivel ahogy öregszünk a csontok természetesen elvékonyodnak. 
                        A posztmenopauzás nőket különösen veszélyezteti a
                        csontritkulás az ösztrogén hormon csökkenése miatt, amely általában
                        védi a csontok egészségét. Mindazonáltal férfiaknak, nőknek és
                        gyermekeknek minden életkorban gondoskodniuk kell a csontok
                        egészségéről, hogy elkerüljék a későbbi csontritkulást.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://wellandfit.hu/app/uploads/2015/12/hizas-600x350.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Elhízás</h5>
                    <p>
                      Az "elhízás" szó a szervezet egészségesnél nagyobb zsírtartalmát jelenti. Az elhízás számos egészségügyi állapothoz kapcsolódik,
                      mint például a magas vérnyomás, a cukorbetegség, a CHD és az alvási
                      apnoe. <br><br>A só önmagában nem okoz súlygyarapodást, de szomjas lesz tőle az ember, így
                      több folyadékot kell innia. Ha a folyadék cukros ital, akkor
                      súlygyarapodást okozhat, mert sok energiát tartalmaz. Ez komoly
                      probléma a gyermekek és a tinédzserek számára, mivel az általuk
                      elfogyasztott folyadékok egyharmada cukros üdítőital.
                      <br><br>Az elhízás könnyen megelőzhető és nagyon nehezen gyógyítható, életveszélyes idült betegség.
                       Megelőzése, kezelése nem egyszeri, hanem egy életre szóló program.<br><br>A megelőzésnek már a gyermek születésekor meg kell kezdődnie.
                       Fontos az anyatejes táplálás, mert az anyatejet helyettesítő tápszerek édesek,
                        korán hozzászoktatják a babát az édes ízhez és a magas kalória-bevitelhez. 
                        A nem szoptatott gyermekek kövérebbek, fizikai teljesítőképességük és betegségekkel szembeni ellenálló-képességük csökkent.
                        <br><br>Kisgyermekkorban az édességek kerülése a legfontosabb. Az édesség iránti természetes vágyat inkább gyümölcsökkel csillapítsuk.
                         Az édesség iránti felnőttkori igény a korai hozzászokás függvénye.
                         <br><br>Iskoláskorban a testmozgás minden formája (sport, balett, tánc, kertészkedés, barkácsolás, stb.) megfelelő lehet a hízás megakadályozásához.
                         <br><br>Felnőttkorban már nem elegendő a fizikailag aktív életmód, a táplálkozás is észszerű kontrollt igényel mind mennyiségi, mind minőségi szempontból. Felnőtteknél a szervezet fejlődése ugyanis már nem kíván többlet energiát.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="padding-left: 50px;">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://www.niddk.nih.gov/-/media/Images/Health-Information/Featured-Images/kidney_stones_square.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Vesekövek és vesebetegségek</h5>
                    <p>
                      A vesekő gyakori probléma, amelyet a kalcium felhalmozódása okoz a
                    vesékben. Mind a magas sóbevitel, mind a magas vérnyomás miatt túl
                    sok kalcium ürülhet ki a veséken keresztül a vizeletbe, ami kalcium
                    és ezáltal vesekövek kialakulásához vezethet. Nagyon fájdalmasak
                    lehetnek, és bizonyos esetekben vesebetegséghez vezethetnek.<br><br>A vesék
                    szabályozzák a folyadékegyensúlyt és a vérnyomást azáltal, hogy
                    szabályozzák a vérből a vizeletbe távozó folyadék mennyiségét. A
                    magas sótartalmú étrend megzavarhatja a vesék működését és magas
                    vérnyomást okozhat, ami viszont megterheli a vesét, ami
                    vesebetegséghez vezet. A magas sótartalmú étrend a meglévő
                    vesebetegség gyorsabb előrehaladását is okozhatja. <br><br>A vesebetegségben
                    szenvedőknek, illetve a tartós húgyúti fertőzések vagy Chrohn-kór
                    miatt veszélyeztetett embereknek csökkenteniük kell a sóbevitelt,
                    hogy elkerüljék az állapot súlyosbodását.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://images.immediate.co.uk/production/volatile/sites/4/2020/03/Untitled-1-hero-ed7583b.jpg" class="img-fluid rounded-start" alt="vascularis demencia">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Vaszkuláris demencia</h5>
                    <p>A demencia az agyi funkciók elvesztése, amely befolyásolja a
                      memóriát, a gondolkodást, a nyelvet, az ítélőképességet és a
                      viselkedést. A vaszkuláris demencia a demencia gyakori formája. Ezt
                      az agyi véredény elzáródása okozza, amely stroke vagy mini
                      stroke-sorozat után következik be; körülbelül minden harmadik
                      stroke-on átesett embernél vaszkuláris demencia alakul ki. <br><br>A magas
                      sóbevitel növeli a vérnyomást, növeli a stroke és ezáltal a demencia
                      kockázatát. A jó vérnyomás-szabályozás rendkívül fontos a stroke
                      megelőzésében, ezért a sóbevitel alacsony szinten tartása fiatalabb
                      életkorban, valamint az egészséges életmód vezetése a megelőző
                      étrend részeként javasolható.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://clearchoicewaterfiltration.com/wp-content/uploads/2020/09/Retencion-de-liquido.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Vízvisszatartás</h5>
                    <p>A vízvisszatartás (más néven ödéma) során folyadék gyűlik össze a test szöveteiben
                      melynek eredményeként általában duzzanatot tapasztal a lábfejeken és a lábakban, de más testrészek is érintettek lehetnek.
                      Ritkábban néhány embernél az arc, a kezek és a karok is megduzzadhatnak.<br><br>
                      A magas sóbevitel hatására a szervezet visszatartja a vizet, mely akár 1,5
                      liter(!) is lehet. Azoknál a nőknél, akik puffadástól szenvednek, előnyös
                      lehet a sócsökkentés, de különösen ajánlott a szívelégtelenségben,
                      nefrotikus szindrómában és májcirrózisban szenvedő betegek számára.<br><br>
                      A vízvisszatartás szabályozásának egyik módja, hogy az étrendünkben csökkentjük a só mennyiségét.
                      Egy kutatásban az is kiderült, hogy a magnézium és a B6-vitamin bevitelének a növelése enyhíti a premenstruációs szindróma tüneteit, köztük az ödémát is.
                      Jó magnéziumforrás a bab, a dió, a teljes kiőrlésű gabona és a leveles zöldségek, míg B6-vitamint találunk a banánban, a földimogyoróban és a burgonyában.
                      B6-vitamint és magnéziumot táplálékkiegészítőként is szedhetünk, de előtte mindig konzultáljunk az orvosunkkal.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://www.victofon.hu/uploads/post/post-images/normal/0000/140/A-szedules-csapdajaban-mi-az-a-Meniere-betegseg-140.webp?t=1666091098" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Ménière-kór</h5>
                    <p>A Ménière egy ritka betegség, amely károsítja a fület és szédülést
                      okoz hányingerrel és hányással, fülzúgással és halláskárosodással. <br><br>A
                      magas sótartalmú étrend ronthatja a Ménière-kór tüneteit, mert
                      folyadékretenciót okoz, ez pedig növelheti a belső fül nyomását, ami
                      a Ménière-kór tüneteit okozza és rontja. <br><br>Úgy gondolják, hogy a
                      sószegény étrend rendkívül hatékony a Ménière-kór kezelésében.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="card mb-3" style="max-width: auto;">
              <div class="row g-0">
                <div class="col-md-4 mt-2" style="">
                  <!-- <img src="https://cdn.shopify.com/s/files/1/0011/7958/2517/files/osteoporosis-bone-density.jpg?v=1526342616" class="img-fluid rounded-start" alt="..."> -->
                  <img src="https://erawadee.com/storage/blogimages/diabetes.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Cukorbetegség</h5>
                    <p>A világon a cukorbetegek száma drámaian növekszik, 
                      a fejlett társadalmakban tapasztalható egészségtelen életmód és táplálkozási szokások miatt.
                      <br><br>Cukorbetegség esetén a szervezetben kevés inzulin termelődik, vagy egyáltalán nem termelődik, 
                      így a cukor nem jut be a sejtekbe, hanem a vérben felhalmozódik, a vércukorszint emelkedik. 
                      Ezáltal csökken az energiatermelés és a szervezet legyengül.
                      <br><br>A só a vérnyomás emelésével növelheti a cukorbetegség kialakulásának
                      kockázatát. A már kialakult cukorbetegségben szenvedők számára is
                      előnyös, ha kevesebb sót esznek, mert a vérnyomás egészséges
                      tartományban tartása segít csökkenteni a cukorbetegség hosszú távú
                      szövődményeinek kockázatát.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
  
            
          </article>
        </div>
        <footer>
          <div class="footer pt-5">
            <div class="container text-center">
              <h2>FIGYELEM!</h2>
              <span>Az oldalon megjelenő információk csak tájékoztató jellegűek és nem helyettesítik a szakszerű orvosi vizsgálatot!
                <br>Panasz, tünet vagy betegség esetén mindenkor forduljon kezelőorvosához!</span>
            </div>
          </div>
        </footer>
  </body>
  
